*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 36px;
    background-color: #fbfefb;
    gap: 12px;
}

.item-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.container{
    width: 100%;
    padding-inline: 200px;
}

.itens{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.item{
    background-color: #EEEEED;
    display: flex;
    height: auto;
    width: 100%;
    padding-inline: 32px;
    gap: 24px;
    font-weight: 700;
    border-radius: 16px;
    font-size: 1rem;
    padding-block: 32px;
    background-color: aquamarine;
    align-items: center;
}

button, input{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    background-color: hotpink;
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
}

input{
    width: 100%;
    height: 2rem;
    background-color: #FFFFFF;
    color: black;
}

.numeros{
    flex-grow: 1;
    padding: 0 6px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    max-width: 100%;
    align-items: center;
}

.numeros span{
    display: flex;
    align-items: center;
    border-radius: 12px;
    justify-content: center;
    border: solid 0.5px #9082a8;
    width: auto;
    padding-inline: 12px;
    height: 2rem;
    background-color: #ddcef4;
}